nav {
    width: 100%;
    height: 50px;
    /* background-color: blue; */
}

#countdown-timer {
    color: red;
    /* background-color: black; */
    font-size: 20px;
    /* width: 5%; */
    height: 50%;
    display: flex;
    float: right;
    margin-right: 10px;

}

.highscores {
    display: flex;
    float: left;
    font-size: 20px;
    margin-left: 10px;

}
.highscores a {
    text-decoration: none;
    color: purple;
}

#question {
    margin: auto;
    width: 40%;
    font-size: 20px;
}

#highscoresScreen {
    margin: auto;
    width: 40%;
    display: none;
}

#scores {
    /* margin: 10px; */
    width: 200px;
    background-color: lavender;
    height: fit-content;
}

#scores p{
    padding: 5px;
}

#testcomplete {
    margin: auto;
    width: 40%;
    display: none;
}

#testcomplete input {
    padding: 5px;
}

#correct {
    margin:auto;
    width: 40%;
    font-size: 20px;
}

#answers {
    margin:auto;
    width: 40%;
    font-size: 20px;
}

#answer1 {
    border: 2px solid purple;
    border-radius: 8px;  
    box-shadow: 0 0 10px 3px #bc64c8, 0 0 20px 3px #ebecca;
    padding: 10px 20px;  
    background-color: white; 
    color: purple;  
    margin: 25px;
}

  #answer1:hover {
    cursor: pointer;
    background-color: purple;
    color: white;
  }

  #answer2 {
    border: 2px solid purple;
    border-radius: 8px;  
    box-shadow: 0 0 10px 5px #bc64c8, 0 0 20px 7px #ebecca;
    padding: 10px 20px;  
    background-color: white;  
    color: purple;  
    margin: 25px;
  }

  #answer2:hover {
    cursor: pointer;
    background-color: purple;
    color: white;
  }

  #answer3 {
    border: 2px solid purple;
    border-radius: 8px;  
    box-shadow: 0 0 10px 5px #bc64c8, 0 0 20px 7px #ebecca;
    padding: 10px 20px;  
    background-color: white;  
    color: purple;  
    margin: 25px;
  }

  #answer3:hover {
    cursor: pointer;
    background-color: purple;
    color: white;
  }

  #answer4 {
    border: 2px solid purple;
    border-radius: 8px;  
    box-shadow: 0 0 10px 5px #bc64c8, 0 0 20px 7px #ebecca;
    padding: 10px 20px;  
    background-color: white;  
    color: purple;  
    margin: 25px;
  }

  #answer4:hover {
    cursor: pointer;
    background-color: purple;
    color: white;
  }

  #correct {
    /* border: 2px solid purple; */
    color: green;
    background-color: white;
    margin-top: 10px;
    display: none;
  }

.startscreen {
    margin: auto;
    width: 60%;
}

.startscreen h1 {
    text-align: center;
    margin-bottom: 50px;
}

.startscreen p{
    text-align: left;
    font-size: 20px;
    line-height: 1.2;
    /* width: 50%; */
}

.startbutton {
    border-radius: 8px;
    background-color: purple;
    color: whitesmoke;
    margin: auto;
    width: 10%;
    text-align: center;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.startbutton:hover {
    cursor: pointer;
    background-color: purple;
    color: white;
  }

.submitbutton {
    border-radius: 8px;
    background-color: purple;
    color: whitesmoke;
    margin: auto;
    width:fit-content;
    text-align: center;
    font-size: 15px;
    padding: 5px;
    display:inline;
}

.submitbutton:hover {
    cursor: pointer;
    background-color: purple;
    color: white;
  }

  .backbutton {
    border-radius: 8px;
    background-color: purple;
    color: whitesmoke;
    margin: auto;
    width:fit-content;
    text-align: center;
    font-size: 15px;
    padding: 5px;
    display:inline;
}

.backbutton:hover {
    cursor: pointer;
    background-color: purple;
    color: white;
  }


  .clearbutton {
    border-radius: 8px;
    background-color: purple;
    color: whitesmoke;
    margin: auto;
    width:fit-content;
    text-align: center;
    font-size: 15px;
    padding: 5px;
    display:inline;
}

.clearbutton:hover {
    cursor: pointer;
    background-color: purple;
    color: white;
  }

.questionscreen{
    display: none;
}