:root {
    --answerbuttonColor:  purple;
    --answerbuttonShadow:  #bc64c8;
    --answerbuttonShadow2: #ebecca;;
    --answerbuttonBorder: purple;
    --answerButtonBgColor: white;
    --answerbuttonHoverBgColor: purple;
    --answerbuttonHoverColor: white;
    --correctColor: green;
    --highScoresColor: purple;
    --timerColor: red;
}

/* Set nav height and width */
nav {
    width: 100%;
    height: 50px;
    /* background-color: blue; */
}

/* Styling for countdown timer */
#countdown-timer {
    color: var(--timerColor);
    /* background-color: black; */
    font-size: 20px;
    /* width: 5%; */
    height: 50%;
    display: flex;
    float: right;
    margin-right: 10px;

}

/* Styling for highscores */
.highscores {
    display: flex;
    float: left;
    font-size: 20px;
    margin-left: 10px;
    color: var(--highScoresColor);
    cursor: pointer;

}

/* Styling for test question */
#question {
    margin: auto;
    width: 40%;
    font-size: 20px;
}

/* Styling for high scores screen */
#highscoresScreen {
    margin: auto;
    width: 40%;
    display: none;
}

/* styling for scores table in high scores screen */
#scores {
    /* margin: 10px; */
    width: 200px;
    background-color: lavender;
    height: fit-content;
}

/* add padding for scores*/
#scores p{
    padding: 5px;
}


/* test complete section styling */
#testcomplete {
    margin: auto;
    width: 40%;
    display: none;
}

#testcomplete input {
    padding: 5px;
}

#correct {
    margin:auto;
    width: 40%;
    font-size: 20px;
}

/* answers section styling */

#answers {
    margin:auto;
    width: 40%;
    font-size: 20px;
}

#answer1 {
    border: 2px solid var(--answerbuttonColor);
    border-radius: 8px;  
    box-shadow: 0 0 10px 3px var(--answerbuttonShadow), 0 0 20px 3px var(--answerbuttonShadow2);
    padding: 10px 20px;  
    background-color: var(--answerButtonBgColor); 
    color: var(--answerbuttonColor);  
    margin: 25px;
}

  #answer1:hover {
    cursor: pointer;
    background-color: var(--answerbuttonHoverBgColor);
    color: var(--answerbuttonHoverColor);
  }

  #answer2 {
    border: 2px solid var(--answerbuttonBorder);
    border-radius: 8px;  
    box-shadow: 0 0 10px 5px var(--answerbuttonShadow), 0 0 20px 7px var(--answerbuttonShadow2);
    padding: 10px 20px;  
    background-color: var(--answerButtonBgColor); 
    color: var(--answerbuttonColor); 
    margin: 25px;
  }

  #answer2:hover {
    cursor: pointer;
    background-color: var(--answerbuttonHoverBgColor);
    color: var(--answerbuttonHoverColor);
  }

  #answer3 {
    border: 2px solid var(--answerbuttonBorder);
    border-radius: 8px;  
    box-shadow: 0 0 10px 5px var(--answerbuttonShadow), 0 0 20px 7px var(--answerbuttonShadow2);
    padding: 10px 20px;  
    background-color: var(--answerButtonBgColor); 
    color: var(--answerbuttonColor); 
    margin: 25px;
  }

  #answer3:hover {
    cursor: pointer;
    background-color: var(--answerbuttonHoverBgColor);
    color: var(--answerbuttonHoverColor);
  }

  #answer4 {
    border: 2px solid var(--answerbuttonBorder);
    border-radius: 8px;  
    box-shadow: 0 0 10px 5px var(--answerbuttonShadow), 0 0 20px 7px var(--answerbuttonShadow2);
    padding: 10px 20px;  
    background-color: var(--answerButtonBgColor); 
    color: var(--answerbuttonColor); 
    margin: 25px;
  }

  #answer4:hover {
    cursor: pointer;
    background-color: var(--answerbuttonHoverBgColor);
    color: var(--answerbuttonHoverColor);
  }

  #correct {
    /* border: 2px solid purple; */
    color: var(--correctColor);
    background-color: white;
    margin-top: 10px;
    display: none;
  }


/* Start screen styling */
.startscreen {
    margin: auto;
    width: 60%;
}

.startscreen h1 {
    text-align: center;
    margin-bottom: 50px;
}

.startscreen p{
    text-align: left;
    font-size: 20px;
    line-height: 1.2;
    /* width: 50%; */
}

/* Start button styling for submitting user initials and high score*/
.startbutton {
    border-radius: 8px;
    background-color: purple;
    color: whitesmoke;
    margin: auto;
    width: 10%;
    text-align: center;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.startbutton:hover {
    cursor: pointer;
    background-color: purple;
    color: white;
  }

  /* Submit button styling for submitting user initials and high score*/
.submitbutton {
    border-radius: 8px;
    background-color: purple;
    color: whitesmoke;
    margin: auto;
    width:fit-content;
    text-align: center;
    font-size: 15px;
    padding: 5px;
    display:inline;
}

.submitbutton:hover {
    cursor: pointer;
    background-color: purple;
    color: white;
  }

  /* Back button styling for going back to start of application*/
  .backbutton {
    border-radius: 8px;
    background-color: purple;
    color: whitesmoke;
    margin: auto;
    width:fit-content;
    text-align: center;
    font-size: 15px;
    padding: 5px;
    display:inline;
}

.backbutton:hover {
    cursor: pointer;
    background-color: purple;
    color: white;
  }


  /* Clear button styling for clearing high scores */
  .clearbutton {
    border-radius: 8px;
    background-color: purple;
    color: whitesmoke;
    margin: auto;
    width:fit-content;
    text-align: center;
    font-size: 15px;
    padding: 5px;
    display:inline;
}

.clearbutton:hover {
    cursor: pointer;
    background-color: purple;
    color: white;
  }

  /* Hide question screen by default. It will be displayed when test is started */
.questionscreen{
    display: none;
}

/* reduce font size on submit button and password text for smaller screens */

@media (max-width: 700px) {
  /* uncomment below when testing screen sizes*/
  /* nav {
    background-color: yellowgreen;
   
  } */
  #userinitial {
    margin: 10px;
  }
  .startbutton {
    font-size: 15px;
    padding: 5px;
    width: fit-content;
  }

  .submitbutton {
    font-size: 15px;
    width: fit-content;
    margin-top: 20px;
  }

  .backbutton {
    font-size: 15px;
    width: fit-content;
    margin-top: 20px;
  }

  .clearbutton {
    font-size: 15px;
    width: fit-content;
    margin-top: 20px;
  }

  #highscoresScreen {
    margin: auto;
    width: 80%;
  }

  #answers {
    margin:auto;
    width: 80%;
    font-size: 15px;
}

   
}